@charset "utf-8";

/* --- FONTS --- */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(fonts/RobotoLight.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(fonts/RobotoRegular.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(fonts/RobotoBold.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(fonts/RobotoLightItalic.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(fonts/RobotoBoldItalic.woff) format('woff');
}
$main-font: Roboto, 'Helvetica Neue', sans-serif;

/* --- COLORS --- */

$turquoise:       #1ABC9C;
$turquoise-dark:  #16A085;
$teal-dark:       #4B8EA5;
$teal:            #77A9BA;
$green:           #2ECC71;
$green-dark:      #27AE60;
$blue:            #3498DB;
$blue-dark:       #2980B9;
$violet:          #9B59B6;
$violet-dark:     #8E44AD;
$graphite:        #616272;
$graphite-dark:   darken($graphite, 10%);
$asphalt:         #34495E;
$asphalt-dark:    #2C3E50;
$yellow:          #F1C40F;
$orange:          #F39C12;
$carrot:          #E67E22;
$dark-carrot:     #D35400;
$red:             #E74C3C;
$dark-red:        #C0392B;
$silver-light:    #ECF0F1;
$silver:          #BDC3C7;
$gray:            #95A5A6;
$dark-gray:       #7F8C8D;
$white:           #fff;

$semi-transparent-black: rgba(0,0,0,0.3);

body {
  font-family: $main-font;
  font-weight: 300;
  cursor: default;
  font-size: 1.7em;
  overflow: hidden;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-family: $main-font;
  font-weight: 700;
}

.align-right {
  text-align: right;
}

.fixed {
  position: fixed;
  height: 100%;
}

#wrap {
  min-width: 1000px;
}


// typeahead

/* custom font! */
/* ------------ */

.tt-dropdown-menu,
.gist {
  text-align: left;
}

/* base styles */
/* ----------- */

.table-of-contents li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.table-of-contents li a {
  font-size: 16px;
  color: #999;
}

.title,
.example-name {
  font-family: Prociono;
}

p + p {
  margin: 30px 0 0 0;
}

/* site theme */
/* ---------- */

.title {
  margin: 20px 0 0 0;
  font-size: 64px;
}

.example {
  padding: 30px 0;
}

.example-name {
  margin: 20px 0;
  font-size: 32px;
}

.demo {
  position: relative;
  *z-index: 1;
  margin: 50px 0;
}

.typeahead,
.tt-query,
.tt-hint {
  padding: 8px 12px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

/* example specific styles */
/* ----------------------- */

#custom-templates .empty-message {
  padding: 5px 10px;
 text-align: center;
}

#multiple-datasets .league-name {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}

#scrollable-dropdown-menu .tt-dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
}

#rtl-support .tt-dropdown-menu {
  text-align: right;
}
