<form role="form">
  <div class="form-group">
    <label for="project-name">Name</label>
    {{input id='project-name' value=name class='form-control' placeholder='Enter name'}}
  </div>
  <div class="form-group">
    <label for="project-desc">Description</label>
    {{input id='project-desc' value=desc class='form-control' placeholder='Enter description'}}
  </div>
</form>
