<div class="jumbotron">
  <h2>Hey dude, welcome to Trcker!</h2>
  <p>
    <i>Wanna go straight to </i>
    {{link-to 'Today timeline' 'timeline' 'today' class='btn btn-success'}}
    or then you can go to
    {{link-to 'this timeline' 'timeline' 'April-10-2014' class='btn btn-success'}}
    that actually has data
  </p>
</div>
